<!DOCTYPE html>
<html>
<head>
  <title>BarCodePrinter</title>
  <%= stylesheet_link_tag    "bar_code_printer/application", :media => "all" %>
  <%= javascript_include_tag "bar_code_printer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
